{% extends "registration/registration_base.html" %}
{% load goodfields %}

{% block title %}Register for an account{% endblock %}
{% block registration_content %}
    <div class="heading">
        <h2>Register for an account</h2>
    </div>
    <form method="post" class="form-horizontal" action="">{% csrf_token %}
        <fieldset>
        {% for field in form %}
            {% goodfield field default class "required" %}
        {% endfor %}
        </fieldset>
        <div class="form-actions">
            <input type="submit" value="Send activation email" class="btn btn-primary"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </form>
{% endblock %}
