from settings import *
from _socket import gethostname

DEBUG = True
THUMBNAIL_DEBUG = True

if gethostname() == 'localhost':
    COMPRESS_REBUILD_TIMEOUT = 1
    COMPRESS_OFFLINE_TIMEOUT = 1
    COMPRESS_PRECOMPILERS = [
        ('text/less', '/home/djangoenv/node_modules/less/bin/lessc {infile} {outfile}')
    ]

#Mail
EMAIL_BACKEND = 'django_smtp_ssl.SSLEmailBackend'
EMAIL_HOST = "example.com"
EMAIL_PORT = 465
EMAIL_USE_TLS = True
EMAIL_HOST_USER = "mailer@example.com"
EMAIL_HOST_PASSWORD = ""
DEFAULT_FROM_EMAIL = "mailer@example.com"
